<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wallet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wallet"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWallet"
        tools:targetApi="31">
        <activity
            android:name=".statistics.StatisticsDetails"
            android:exported="false"/>
        <activity
            android:name=".about_menu.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".expense_entry_menu.NewExpenseMenu"
            android:exported="false" />
        <activity
            android:name=".statistics.StatisticsMenu"
            android:exported="false" />
        <activity
            android:name=".main_menu.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notification.QuickExpenseNotificationService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notification.NotificationCancelReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.EXPENSE_NOTIFICATION_CANCEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
    
</manifest>